
.icon-play:before { content: '\e800'; } /* '' */
.icon-eye:before { content: '\e801'; } /* '' */
.icon-videocam:before { content: '\e802'; } /* '' */
.icon-award:before { content: '\e803'; } /* '' */
.icon-clipboard:before { content: '\e804'; } /* '' */
.icon-keyboard:before { content: '\e805'; } /* '' */
.icon-plus-1:before { content: '\e806'; } /* '' */
.icon-logout:before { content: '\e807'; } /* '' */
.icon-cancel:before { content: '\e808'; } /* '' */
.icon-picture:before { content: '\e809'; } /* '' */
.icon-cog-outline:before { content: '\e80a'; } /* '' */
.icon-info-circled-1:before { content: '\e80b'; } /* '' */
.icon-cw:before { content: '\e80c'; } /* '' */
.icon-ok-circled:before { content: '\e80d'; } /* '' */
.icon-cancel-circled:before { content: '\e80e'; } /* '' */
.icon-minus-circled:before { content: '\e80f'; } /* '' */
.icon-info-circled:before { content: '\e810'; } /* '' */
.icon-chat:before { content: '\e811'; } /* '' */
.icon-right-open:before { content: '\e812'; } /* '' */
.icon-left-open:before { content: '\e813'; } /* '' */
.icon-retweet:before { content: '\e814'; } /* '' */
.icon-chat-alt:before { content: '\e815'; } /* '' */
.icon-user-add:before { content: '\e816'; } /* '' */
.icon-user-delete:before { content: '\e817'; } /* '' */
.icon-users-1:before { content: '\e818'; } /* '' */
.icon-mail:before { content: '\e819'; } /* '' */
.icon-brush:before { content: '\e81a'; } /* '' */
.icon-bell:before { content: '\e81b'; } /* '' */
.icon-picture-outline:before { content: '\e81c'; } /* '' */
.icon-dollar:before { content: '\e81d'; } /* '' */
.icon-ok:before { content: '\e81e'; } /* '' */
.icon-cancel-1:before { content: '\e81f'; } /* '' */
.icon-download:before { content: '\f02e'; } /* '' */
.icon-angle-left:before { content: '\f104'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-trash:before { content: '\f1f8'; } /* '' */
.icon-id-card-o:before { content: '\f2c3'; } /* '' */